<!DOCTYPE html>
<html>

<head>
    <title>Colegio Manuel Francisco Correa - Registro Apoderado</title>
    <link rel="stylesheet" href="/css/alumno.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/navbar') %>

        <header>
            <h1>Colegio Manuel Francisco Correa</h1>
            <p>Bienvenidos a nuestra comunidad educativa</p>
        </header>

        <main>
            <h2 style="text-align:right;">Registro de Apoderados</h2>

            <div class="formularios">
                <!-- Mostrar error si existe -->
                <% if (typeof error !=='undefined' && error) { %>
                    <p style="color:red;">
                        <%= error %>
                    </p>
                    <% } %>

                        <!-- Formulario -->
                        <form action="/insertApoderado" method="POST">
                            <input type="hidden" name="alumno_id" value="<%= alumnoId %>">

                            <label for="rut_apoderado">Rut Apoderado:</label>
                            <input type="text" id="rut_apoderado" name="rut_apoderado" maxlength="12" required value="<%= valores?.rut_apoderado || '' %>">

                            <label for="nombre_apoderado">Nombre Completo del Apoderado:</label>
                            <input type="text" id="nombre_apoderado" name="nombre_apoderado" maxlength="100" required value="<%= valores?.nombre_apoderado || '' %>">

                            <label for="parentesco_apoderado">Parentesco con el Apoderado:</label>
                            <input type="text" id="parentesco_apoderado" name="parentesco_apoderado" maxlength="100" required value="<%= valores?.parentesco_apoderado || '' %>">

                            <label for="fechaNacimiento_apoderado">Fecha de Nacimiento del Apoderado:</label>
                            <input type="text" id="fechaNacimiento_apoderado" name="fechaNacimiento_apoderado" maxlength="100" required value="<%= valores?.fechaNacimiento_apoderado || '' %>">

                            <label for="trabajo_apoderado">Trabajo / Actividad del Apoderado:</label>
                            <input type="text" id="trabajo_apoderado" name="trabajo_apoderado" maxlength="100" required value="<%= valores?.trabajo_apoderado || '' %>">

                            <label for="telefono">Telefono:</label>
                            <input type="text" id="telefono" name="telefono" maxlength="13" required  value="<%= valores?.telefono || '' %>">

                            <label for="correo_apoderado">Correo Electronico:</label>
                            <input type="email" id="correo_apoderado" name="correo_apoderado" maxlength="100" required value="<%= valores?.correo_apoderado || '' %>">

                            <label for="correo_apoderado">Nivel Educacional del Apoderado:</label>
                            <input type="text" id="nivelEducacional_apoderado" name="nivelEducacional_apoderado" maxlength="100" required value="<%= valores?.correo_apoderado || '' %>">

                            <button type="submit">Registrar Apoderado</button>
                            <button type="button" onclick="window.history.back()" style="margin-left:10px;">Volver</button>
                        </form>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/footer') %>
</body>
</html>